<%if current_user.enquiry.present?%>
<div class="page-header">
  <h1>Enquiries</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact</th>
      <th>Address</th>
      <th>Project Status</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= current_user.enquiry.name %></td>
        <td><%= current_user.enquiry.contact %></td>
        <td><%= current_user.enquiry.address %></td>
        <td><%= current_user.enquiry.message %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      enquiry_path(current_user.enquiry), :class => 'btn btn-default btn-xs' %>
                                            <% if current_user.role == 'SuperAdmin'%>

                        <% end %>
        </td>
      </tr>
  </tbody>
</table>
<%else%>
<%- model_class = Enquiry -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:enquiry_number) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:contact) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th>Project Status </th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @enquiries.each do |enquiry| %>
      <tr>
        <td><%= enquiry.name %></td>
        <td><%= enquiry.enquiry_number %></td>
        <td><%= enquiry.email %></td>
        <td><%= enquiry.contact %></td>
        <td><%= enquiry.address %></td>
        <td><%= enquiry.message %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      enquiry_path(enquiry), :class => 'btn btn-default btn-xs' %>
                                            <% if current_user.role == 'SuperAdmin'%>

          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_enquiry_path(enquiry), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      enquiry_path(enquiry),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
                        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_enquiry_path,
            :class => 'btn btn-primary' %>
<%end%>